
<h1 id="home-h1"> Welcome <%= session[:name] %>!</h1>

<h3 id="home-h3">What would you like to do?</h3><br/>

<span id="home-link-one"><%= link_to 'See your profile', profile_path %></span><br/><br/>
<span id="home-link-two"><%= link_to 'See all available races', races_path %></span><br/><br/>
<span id="home-link-three"><%= link_to 'See all training plans', training_plans_path %></span><br/><br/>
<span id="home-link-four"><%= link_to 'See all registered runners', runners_path %></span><br/><br/>

<div id="home-page-logout"><%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %><br>
    <input type=submit value='logout'>
<% end %></div>