<% if flash[:messages] %>
  <div id="error_explanation">
    <font color="red"><h2>There were some errors:</h2></font>
    <ul>
      <% flash[:messages].each do |message| %>
        <font color="red"><li><%= message %></li></font>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @runner do |f| %>
    <p>
        Name: <%= f.text_field :name %>
    </p>
    <p>
        Gender: <%= f.collection_select(:gender, Runner.all, :gender, :gender) %>
    </p>
    <p>
        Birthday: <%= f.date_select :birthday, :start_year=>1900 %>
    </p>
    <p>
        City: <%= f.text_field :location_city %>
    </p>
    <p>
        Country: <%= f.text_field :location_country %>
    </p>
    <p>
        Experience Level: <%= f.collection_select(:experience_level, Runner.all, :experience_level, :experience_level) %>
    </p>
    <p>
        <%= f.submit %>
    </p
<% end %>

    
  