<h1>Your Profile</h1>

Name: <%= @runner.name %><br><br>
Gender: <%= @runner.gender %><br><br>
Birthday:<%= @runner.birthday %><br><br>
Location: <%= @runner.location_city %>, <%= @runner.location_country %><br><br>
Experience Level: <%= @runner.experience_level %><br><br>

<%= button_to "EDIT", edit_runner_path(@runner), method: :get %>
<%= button_to "DELETE", runner_path(@runner), method: :delete %>

<hr>