<h1>Runner Profile</h1>

Name: <%= @runner.name %><br><br>
Gender: <%= @runner.gender %><br><br>
Birthday:<%= @runner.birthday %><br><br>
Location: <%= @runner.location_city %>, <%= @runner.location_country %><br><br>
Experience Level: <%= @runner.experience_level %><br><br>

<hr>
<%= link_to 'Back to all runners', runners_path %> | <%= link_to 'Back to home', home_path %>
